
<div *ngFor="let animal of animalList">
    <app-animal
        [name]="animal.name"
        [stamina]="animal.stamina"
        [image]="animal.image"
        [sound]="animal.sound"
        [staminaDecay]="animal.staminaDecay"
        (feint)="onFeint($event)"
    ></app-animal>    
</div>

<div *ngFor="let chore of choreList">
    <app-chore
      [name]="chore.name"
      [image]="chore.image"
      [completionTime]="chore.completionTime"
      [complete]="chore.complete"    
    ></app-chore>
</div>